* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-width: 1000px;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

section {
	width: 1000px;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.right-float {
	float: right;
}

.left-float {
	float: left;
}



#black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

	#black-bar a {
		color: white;
	}



header {
	margin: 40px 0;
}

	.header-part {
		display: inline-block;
		vertical-align: middle;
	}

	#header-logo h1 {
		font-size: 16px;
		padding: 4px 0px 0px 50px;
		background-image: url(img/internet.png);
		background-repeat: no-repeat;
		font-weight: bold;
	}

	#header-city {
		margin-left: 80px;
	} 

		#header-city span {
			color: #448ccb;
			border-bottom: 1px solid #448ccb;
		}

		#header-city a:after {
			display: inline-block;
			content: '';
			background: url("img/down-arrow.png");
			background-repeat: no-repeat;
			height: 6px;
			width: 10px;
			margin-left: 8px;
		}

	#header-weather {
		margin: 0 60px 0 0;
		padding: 4px 0 0 36px;
		background-image: url(img/weather.png);
		background-repeat: no-repeat;
		color: grey;
	}

	#header-find {
		position: relative;
	}

		#header-find input {
			height: 40px;
			width: 280px;
			border-radius: 20px;
			border: none;
			background-color: #ebebeb;
			padding: 0px 20px;

		}

		#header-find button {
			position: absolute;
			top: 12px;
			right: 20px;
			content: '';
			height: 16px;
			width: 16px;
			background-image: url(img/search.png);
			background-repeat: no-repeat;
			border: none;
		}



nav {
	margin: 30px 0;
}

	nav li {
		display: inline-block;
	}

	nav li::after {
		content: '/';
		color: #91919f;
		margin: 0px 15px;
	}

	nav li:last-child::after {
		content: none;
	}




main {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}




#column-left {
	background-color: #FFFFFF;
	width: 25%;
}

	#day-news-title {
		font-size: 20px;
		padding: 28px 18px;
		margin-bottom: 30px;
		border-bottom: 1px solid #e5e5e5;
	}

	.day-news-item {
		padding-left: 18px;
		margin-bottom: 24px;
		font-size: 14px;
	}

		.day-news-item-text {
			margin-bottom: 20px;
		}

	#column-left button {
		display: block;
		width: 80%;
		text-align: center;
		border: 1px solid #4f9ed1;
		border-radius: 30px;
		margin: 40px auto;
		padding: 12px 0;
		color: #4f9ed1;
		background-color: #ffffff;
	}




#column-center {
	width: 50%;
	padding: 0 20px;
}

	.main-post {
		background-image: url("img/news-1.png");
		background-position: center;
		background-repeat: no-repeat;
  		background-size: cover;
  		height: 300px;
  		padding: 18px;
	}

		.main-post-tag {
			display: block;
			font-size: 12px;
			color: white;
			margin-top: 80px;
		}

		.main-post-tag::before {
			content: '/';
			margin-right: 4px;
		}

		.main-post-text {
			color: white;
			font-weight: bold;
			font-size: 30px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.main-post-props {
			font-size: 12px;
			position: relative;
			height: 30px;
		}

			.main-post-date {
				position: absolute;
				color: white;
				top: 0;
				left: 0px;
			}

			.main-post-time {
				position: absolute;
				top: 0;
				left: 100px;
				padding-left: 12px;
				color: white;
				background-image: url('img/icon-main-post-time.png');
				background-repeat: no-repeat;
				background-position: 0% 40%;
			}

		.main-post-description { 
			font-size: 14px;
			color: white;
		}



	.right-general-posts, .left-general-posts {
		width: 50%;
	}

	.left-general-posts {
		float: left;
		padding-right: 2%;
	}

	.right-general-posts {
		float: right;
		padding-left: 2%;
	}

		.general-post {
	  		margin: 16px 0;
		}

			.general-post-image{
				width: 100%;
				height: 160px;
			}

			.general-post-text {
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				margin: 5px 0 12px;
			}



#column-right {
	width: 25%;
	float: right;
}

	#column-right img {
		width: 100%;
		margin-bottom: 20px;
	}




#special-news {
	height: 400px;
	margin-bottom: 30px;
	background-color: white;
}

	#most-popular-article {
		width: 60%;
		height: 400px;
		padding: 20px;
		background-image: url("img/news-6.png");
		background-position: center;
		background-size: cover;
	}


	#popular-news {
		width: 40%;
	}

		.popular-news-title {
			padding: 24px 18px;
			font-weight: bold;
			font-size: 20px;
			border-bottom: 1px solid #ebebeb;
		}

		.popular-news-article {
			margin: 24px 18px;
		}

			.popular-news-article-text {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 10px;
			}




footer {
	background-color: #00122f;
	color: white;
	padding-top: 40px;
	font-size: 16px;
}

	footer a {
		color: white;
	}
	
	#footer-menu, #footer-info, #footer-contacts {
		display: inline-block;
	}


	#footer-menu {
		width: 30%;
	}

		#footer-menu li {
			width: 135px;
			display: inline-block;
			margin: 8px 0;
		}


	#footer-info {
		margin-left: 15%;
	}

		#footer-info li {
			margin: 16px 0px;
			display: block;
			width: 170px;
		}

		#footer-logo {
			height: 50px;
			padding: 5px 0px 0px 50px;
			background-image: url(img/internet.png);
			background-repeat: no-repeat;
			font-weight: bold;
		}

	#footer-contacts {
		float: right;
		margin-top: 20px;
	}

		#social-networks {
			margin-bottom: 50px;
		}

			#social-networks li {
				display: inline-block;
				border-radius: 100%;
				margin: 0px 10px 0px 0px;
			}


			#contacts-info a {
				display: block;
				margin: 24px 0px 0px 0px;
				padding-left: 28px;
			}

			#footer-telephone {
				background-image: url("img/telephone.png");
				background-repeat: no-repeat;
				background-position: 0% 50%;
			}

			#footer-email {
				background-image: url("img/email.png");
				background-repeat: no-repeat;
				background-position: 0% 45%;
			}

	#copyrights {
		background-color: #00122f;
		padding: 16px 0;
		border-top: 1px solid #666;
		text-align: center;
		color: #666;
		font-size: 14px;
		margin-top: 40px;
	}




.news-item-props {
	font-size: 12px;
	position: relative;
}

	.news-tag {
		color: #91919f;
	}

	.news-tag::before {
		content: '/';
		margin-right: 4px;
	}

	.news-time {
		position: absolute;
		top: 0;
		left: 120px;
		padding-left: 15px;
		background-image: url('img/icon-time.png');
		background-repeat: no-repeat;
	}

	.news-comments-count {
		position: absolute;
		top: 0;
		left: 180px;
		padding-left: 15px;
		background-image: url('img/icon-comments.png');
		background-repeat: no-repeat;
	}