html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}


#black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

	#black-bar a {
		text-decoration: underline;
		color: white;
	}

section {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

	#datetime {
		float: right;
	}

header {
	position: relative;
	margin: 40px 0;
}

	.header-part {
		display: inline-block;
	}

	#header-logo {
		margin: 0;
		font-size: 16px;
		padding: 4px 0px 0px 50px;
		background-image: url(img/internet.png);
		background-repeat: no-repeat;
		font-weight: bold;
	}

		#header-city div {
			position: absolute;
			top: 12px;
			margin-left: 80px;
			color: #448ccb;
			border-bottom: 1px solid #448ccb;
		} 

		#header-city img {
			position: absolute;
			top: 20px;
			margin-left: 148px;
		}

	#header-weather {
		float: right;
		height: 24px;
		margin: 8px 60px 8px 0;
		padding: 4px 0 0 36px;
		background-image: url(img/weather.png);
		background-repeat: no-repeat;
		color: grey;
	}

	#header-find {
		float: right;
	}

		#header-find input {
			height: 40px;
			width: 280px;
			border-radius: 20px;
			border: none;
			background-color: #ebebeb;
			padding: 0px 20px;

		}

		#header-find::after{
			position: absolute;
			top: 12px;
			right: 20px;
			display: block;
			content: '';
			height: 20px;
			width: 20px;
			background-image: url(img/search.png);
			background-repeat: no-repeat;
		}


nav {
	margin: 30px 0;
}

nav li {
	color: black;
	display: inline-block;
}

	nav li::after {
		content: '/';
		color: #91919f;
		margin: 0px 15px;
	}

	nav li:last-child::after {
		content: none;
	}

main {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

	main section {
		overflow-y: hidden;
	}


#column-left {
	background-color: #FFFFFF;
	width: 250px;
	float: left;
}

	.news-item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
	}

	.news-item-props {
		font-size: 12px;
		position: relative;
	}

		.news-tag {
			color: #91919f;
		}

		.news-tag::before {
			content: '/';
			margin-right: 4px;
		}

		.news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}

	#button {
		display: block;
		width: 80%;
		text-align: center;
		border: 1px solid #4f9ed1;
		border-radius: 30px;
		margin: 40px auto;
		padding: 12px 0;
		color: #4f9ed1;
	}


#column-center {
	width: 420px;
	margin-left: 20px;
	float: left;
}

	.main-post {
		background-image: url("img/news-1.png");
		background-position: center;
		background-repeat: no-repeat;
  		background-size: cover;
  		height: 300px;
  		padding: 18px;
	}

		.main-post-tag {
			display: block;
			font-size: 12px;
			color: white;
			margin-top: 100px;
		}

		.main-post-tag::before {
			content: '/';
			margin-right: 4px;
		}

		.main-post-text {
			color: white;
			font-weight: bold;
			font-size: 30px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.main-post-props {
			font-size: 12px;
			position: relative;
			height: 30px;
		}

			.main-post-date {
				position: absolute;
				color: white;
				top: 0;
				left: 0px;
			}

			.main-post-time {
				position: absolute;
				top: 0;
				left: 100px;
				padding-left: 12px;
				color: white;
				background-image: url('img/icon-main-post-time.png');
				background-repeat: no-repeat;
				background-position: 0% 40%;
			}

		.main-post-description { 
			font-size: 14px;
			color: white;
		}

	.right-general-posts, .left-general-posts {
		width: 200px;
	}

	.left-general-posts {
		float: left;
	}

	.right-general-posts {
		float: right;
	}

		.general-post {
	  		margin: 16px 0;
		}

			.general-post-image{
				width: 200px;
				height: 140px;
			}

			.general-post-text {
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				margin: 5px 0 12px;
			}


			.general-post-props {
				display: block;
				height: 30px;
				font-size: 12px;
				position: relative;
			}

				.general-post-tag {
					position: absolute;
					left: 0px;
					display: block;
					font-size: 12px;
					color: grey;
				}

				.general-post-tag::before {
					content: '/';
					margin-right: 2px;
				}

				.general-post-time {
					position: absolute;
					top: 0;
					left: 100px;
					padding-left: 15px;
					background-image: url('img/icon-time.png');
					background-repeat: no-repeat;
					background-position: 0% 40%;
				}

				.general-post-comments-count {
					position: absolute;
					top: 0;
					left: 160px;
					padding-left: 15px;
					background-image: url('img/icon-comments.png');
					background-repeat: no-repeat;
				}


#column-right {
	width: 250px;
	float: right;
}

	#column-right img {
		margin-bottom: 20px;
	}


#special-news {
	height: 400px;
	margin: 0px 0px 30px;
	background-color: white;
}

	.special-news-item, .special-news-post{
		display: inline-block;
	}

	.special-news-title {
		padding: 0;
		font-weight: bold;
		font-size: 20px;
		border-bottom: 1px solid #ebebeb;
	}

	.special-news-post {
		height: 400px;
		width: 60%;
		float: left;
		padding: 0;
		background-image: url("img/news-6.png");
		background-position: bottom;
	}

		.special-news-post div, .special-news-post a {
			padding-left: 18px;
		}


	.special-news-item {
		margin: 16px 0;
		float: right;
		padding: 0;
		width: 40%;
	}

		.special-news-item div, .special-news-item p{
			padding: 0px 18px;
		}

		.special-news-item-text {
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 10px;
		}

		#special-news-time {
			margin-left: 12px;
			padding-left: 12px;
		}


footer {
	background-color: #00122f;
	color: white;
	padding-top: 40px;
	font-size: 16px;
}
	
	#footer-menu, #footer-info, #footer-contacts {
		display: inline-block;
	}

		footer a {
			margin: 8px 0;
			color: white;
		}

	#footer-menu {
		width: 280px;
	}

		#footer-menu a {
			width: 135px;
			display: inline-block;
		}


	#footer-info {
		margin-left: 160px;
	}

		#footer-info a {
			margin: 16px 0px;
			display: block;
			width: 170px;
		}

		#footer-logo {
			height: 50px;
			padding: 5px 0px 0px 50px;
			background-image: url(img/internet.png);
			background-repeat: no-repeat;
			font-weight: bold;
		}

	#footer-contacts {
		float: right;
		margin-top: 20px;
	}

		#social-networks {
			margin-bottom: 50px;
		}

			#social-networks a{
				display: inline-block;
				border-radius: 100%;
				margin: 0px 10px 0px 0px;
			}


			#contacts-info a {
				display: block;
				margin: 24px 0px 0px 0px;
				padding-left: 28px;
			}

			#footer-telephone {
				background-image: url("img/telephone.png");
				background-repeat: no-repeat;
				background-position: 0% 50%;
			}

			#footer-email {
				background-image: url("img/email.png");
				background-repeat: no-repeat;
				background-position: 0% 45%;
			}

	#copyrights {
		background-color: #00122f;
		padding: 16px 0;
		border-top: 1px solid #666;
		text-align: center;
		color: #666;
		font-size: 14px;
		margin-top: 40px;
	}