/*----- Left Aside -----*/

.column-left {
	width: 25%;
}

.left-aside-part {
	width: 100%;
	background-color: white;
	margin-bottom: 20px;
	padding-bottom: 1px;
}


/*----- Left Aside News -----*/

.day-news__title {
	padding: 25px 18px;
	margin-bottom: 28px;

	border-bottom: 1px solid #e5e5e5;

	font-size: 20px;
}


.day-news__item {
	padding: 0 18px;
	margin-bottom: 18px;
}


.day-news__text {
	margin-bottom: 12px;

	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 20px;
	overflow-wrap: break-word;
}


.day-news__comments {
	margin-right: 20px;
}


.column-left__button {
	display: block;

	width: 175px;

	border: 1px solid #4f9ed1;
	border-radius: 30px;

	margin: 34px auto 25px;
	padding: 14px 0;

	background-color: inherit;

	text-align: center;
	color: #4f9ed1;
}


/*----- Left Aside Exchange Rate -----*/

.exchange-rate{
	padding: 0 18px;
	margin-bottom: 24px;

}


.exchange-rate__item {
	display: inline-block;
	vertical-align: middle;
}

.exchange-rate__currency {
	width: 36px;
	height: 36px;

	padding: 7px 0;

	border: 1px solid black;
	border-radius: 100%;

	text-align: center;
	font-size: 18px;
}


.exchange-rate__currency-rate {
	margin-left: 16px;
	font-size: 16px;
}


/*----- Right Aside -----*/

.column-right {
	width: 25%;
}


.column-right__banner {
	display: block;

	width: 100%;

	margin-bottom: 16px;
}


.column-right__banner:last-child {
	margin-bottom: 0;
}


.column-right__banner-img {
	width: 100%;
}
