/*----- Black Top Bar -----*/

.black-bar {
	padding: 22px 0 18px;

	color: white;
	font-size: 16px;

	background-color: #00122f;
}


.black-bar__link {
	padding-bottom: 1px;

	border-bottom: 1px solid white;

	color: inherit;
}




/*----- Header -----*/

.header-block {
	margin: 40px 0 32px;

	font-size: 16px;
}


.header-part {
	display: inline-block;
	vertical-align: middle;
}



.header__logo {
	width: 120px;
}


.header__city {
	margin-left: 58px;
}


.header__city__text {
	color: #448ccb;
	border-bottom: 1px solid #448ccb;
}


.header__city:after {
	height: 6px;
	width: 10px;

	display: inline-block;
	content: '';

	margin-left: 5px;

	background: url("../img/down-arrow.png");
	background-repeat: no-repeat;
}


.header__weather {
	margin: 0 38px 0 0;
	padding: 2px 0 6px 38px;

	background-image: url(../img/weather.png);
	background-repeat: no-repeat;

	color: grey;
}


.header__search {
	position: relative;
}


.header__search-input {
	height: 45px;
	width: 320px;

	border-radius: 23px;
	border: none;

	padding: 0px 20px;

	background-color: #ebebeb;

	font-family: inherit;
	font-size: 14px;
}


.header__search-button {
	position: absolute;
	top: 14px;
	right: 20px;

	content: '';

	height: 16px;
	width: 16px;

	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	border: none;
}




/*----- Navigation Block -----*/

.nav-block {
	margin: 30px 0 32px;
}


.nav-element {
	display: inline-block;
	vertical-align: middle;
}


.nav-element::after {
	margin: 0 15px 0 20px;

	content: '/';

	color: #d9d9d9;
	font-size: 20px;
}


.nav-element:last-child::after {
	content: none;
}


