

/*----- Main Content -----*/

.main-content {
	padding-top: 0px;

	background: transparent;
}


.main-content-part {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 50px;
}


/*----- Central Column -----*/

.column-center {
	order: -1;
	width: 100%;
}



/*----- Main Post -----*/

.main-post {
	position: relative;
	margin-bottom: 30px;
	line-height: 0px;
}


.main-post:before {
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
	opacity: 0.45;

	z-index: 0;
}


.main-post__img {
	width: 100%;
	height: 322px;
}


.main-post__content{
	width: 100%;

	padding: 0 25px;

	position: absolute;
	bottom: 30px;

	color: white;
}


.main-post__tag {
	line-height: 12px;
	font-size: 12px;
	color: inherit;
}


.main-post__tag::before {
	content: '/';
	margin-right: 4px;
}


.main-post__title {
	margin: 18px 0 24px;

	letter-spacing: -0.6px;
	line-height: 28px;
	font-weight: bold;
	font-size: 22px;
}


.main-post__title-link {
	color: inherit;
}


.main-post__props {
	font-size: 12px;
	line-height: 12px;
}


.main-post__time {
	padding-left: 12px;
	margin-left: 18px;

	background-image: url('../img/icon-main-post-time.png');
	background-repeat: no-repeat;
	background-position: 0% 40%;
}


.main-post__description {
	width: 90%;

	margin-top: 20px;

	font-size: 14px;

	display: none
}




/*----- General Post -----*/

.general-posts-block {
	display: flex;
	flex-wrap: wrap;
}



.general-post {
	width: 100%;

	margin-bottom: 24px;

	line-height: 0px;
}


.general-post:nth-child(2n) {
	margin-right: 0;
}


.general-post__image{
	width: 100%;
	height: 200px;
}


.general-post__content {
	padding: 18px 25px 0;
}


.general-post__text {
	margin-bottom: 18px;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	overflow-wrap: break-word;
	line-height: 20px;
}


.general-post__comments {
	margin-right: 100px;
}





/*----- Most Readable Posts -----*/

.special-news {
	position: relative;

	margin-bottom: 50px;

	display: flex;
	flex-wrap: wrap;
}


/*----- Most Popular Post -----*/

.most-popular-post {
	position: relative;

	width: 100%;
	height: 310px;

	color: white;
}


.most-popular-post:before {
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
	opacity: 0.45;

	z-index: 0;
}


.most-popular-post__img {
	width: 100%;
	height: 310px;
}


.most-popular-post__content{
	position: absolute;
	bottom: 48px;

	padding-left: 25px ;

	color: inherit;
}


.most-popular-post__title {
	margin-bottom: 24px;
	margin-top: 16px; 
}





/*----- Other Popular Posts -----*/

.popular-news {
	width: 100%;

	background-color: transparent;
}


.popular-news__item {
	margin-bottom: 24px !important;
}


.popular-news__text {
	margin-bottom: 14px;

	font-weight: bold;
	font-size: inherit;
}


.popular-news__props {
	margin-right: 100px;
}





/*----- Post Props -----*/

.news__props {
	display: flex;
	justify-content: space-between;

	font-size: 12px;
	line-height: 14px;
}


.news__tag {
	color: #91919f;
}


.news__tag::before {
	content: '/';
	margin-right: 4px;
}



.news__time {
	display: inline-block;
	vertical-align: middle;

	padding-left: 14px;
	padding-bottom: 2px;
	margin-right: 18px;

	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
	background-position: 0 30%;
}


.news__comments {
	display: inline-block;
	vertical-align: middle;

	padding-left: 14px;
	padding-bottom: 2px;

	background-image: url('../img/icon-comments.png');
	background-repeat: no-repeat;
	background-position: 0 30%;
}



@media screen and (min-width: 425px) {

	.general-post {
		width: calc(50% - 15px);
		margin: 0 10px 10px 10px;
	}


	.general-post:nth-child(2n) {
		margin: 0 10px 10px 0;
	}


	.general-post__image {
		height: 150px;
	}


	.general-post__content {
		padding: 18px 16px 0;
	}


	.general-post__comments {
		margin-right: 0;
	}

}




@media screen and (min-width: 576px) { 

	.main-content {
		padding-top: 20px;

		background: linear-gradient(rgba(0,0,0,0.05) 0%, #f9f9f9 2%, rgba(249,249,249,1) 98%);
	}


	.main-post {
		margin-bottom: 18px;
	}


	.main-post__content{
		width: 60%;

		padding: 0;

		bottom: 45px;
		left: 20px;
	}


	.main-post__title {
		margin: 18px 0 24px;

		line-height: 28px;
		font-size: 22px;
	}


	.general-post {
		width: calc(50% - 10px);
		margin: 0 20px 16px 0;
	}


	.general-post:nth-child(2n) {
		margin-right: 0;
	}


	.general-post__image{
		height: 160px;
	}


	.general-post__text {
		padding: 0 15px 0 0;
	}


	.general-post__comments {
		margin-right: 20px;
	}


	.news__props {
		padding: 0;
	}


	.main-post__description {
		display: block;
	}


	.most-popular-post {
		height: 400px;
	}


	.most-popular-post__img {
		height: 400px;
	}
	

	.popular-news__props {
	    margin-right: 300px;
	}

}




/* Средние девайсы («таблетки», >= 768px) */
@media screen and (min-width: 768px) {


	.main-post__img {
		width: 100%;
		height: 400px;
	}

	
	.general-post {
		width: calc((100% / 3) - 14px);
		margin: 0 21px 16px 0;
	}


	.general-post:nth-child(2n) {
		margin: 0 21px 16px 0;
	}


	.general-post:nth-child(3n) {
		margin: 0 0 16px 0;
	}


	.general-post__content {
		padding: 18px 0 0;
	}


	.general-post__comments {
		margin-right: 30px;
	}


	.most-popular-post__content{
		width: 80%;
	}


	.popular-news__props {
	    margin-right: 480px;
	}

}




/* Большие девайсы (десктопы, >= 992px) */
@media screen and (min-width: 992px) { 

	.main-content-part {
		flex-wrap: wrap;

		margin-bottom: 20px;
	}


	.column-center {
		width: 50%;
		order: unset;
		padding: 0 20px;
	}


	.main-post__img {
		height: 320px;
	}


	.main-post__content{
		width: 80%;
	}


	.most-popular-post {
		width: 60%;
		height: 400px;
	}


	.most-popular-post__img {
		height: 400px;
	}


	.most-popular-post__content{
		width: 560px;

		left: 20px;

		padding: 0;
	}

	.most-popular-post__title {
		width: 80%;

		margin-bottom: 6px;
	}


	.popular-news {
		width: 40%;
	
		background-color: white;
	}


	.popular-news__props {
		margin-right: 180px;
	}


	.general-post {
		width: calc(50% - 10px);
		margin: 0 20px 16px 0;
	}


	.general-post:nth-child(2n) {
		margin-right: 0;
	}


	.general-post:nth-child(3n) {
		margin: 0 20px 16px 0;
	}


	.general-post:nth-child(6n) {
		margin-right: 0;
	}

}



@media screen and (min-width: 1200px) { 

	.popular-news__props {
		margin-right: 140px;
	}


	.general-post__comments {
		margin-right: 36px;
	}


	.general-post__image {
		height: 180px;
	}


	.popular-news__props {
	    margin-right: 220px;
	}
}