/*----- Main Content -----*/

.main-content {
padding-top: 20px;

background: linear-gradient(rgba(0,0,0,0.05) 0%, #f9f9f9 2%, rgba(249,249,249,1) 98%);
}




/*----- Central Column -----*/

.column-center {
	width: 50%;
	padding: 0 20px;
}



/*----- Main Post -----*/

.main-post {
	position: relative;
	margin-bottom: 18px;
	line-height: 0px;
}


.main-post:before {
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
	opacity: 0.45;

	z-index: 0;
}


.main-post__img {
	width: 100%;
	height: 322px;
}


.main-post__content{
	width: 80%;

	position: absolute;
	bottom: 45px;
	left: 20px;

	color: white;
}


.main-post__tag {
	display: block;

	font-size: 12px;
	color: inherit;
}


.main-post__tag::before {
	content: '/';
	margin-right: 4px;
}


.main-post__title {
	margin: 24px 0 26px;

	letter-spacing: -0.6px;
	line-height: 36px;
	font-weight: bold;
	font-size: 30px;
}


.main-post__title-link {
	color: inherit;
}


.main-post__props {
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
}


.main-post__time {
	padding-left: 12px;
	margin-left: 18px;

	background-image: url('../img/icon-main-post-time.png');
	background-repeat: no-repeat;
	background-position: 0% 40%;
}


.main-post__description {
	width: 90%;

	margin-top: 20px;

	font-size: 14px;
}




/*----- General Post -----*/

.general-post {
	width: 220px;
	margin: 0 20px 16px 0;
}


.general-post:nth-child(2n) {
	margin-right: 0;
}


.general-post__image{
	width: 100%;
	height: 142px;
}


.general-post__text {
	padding-right: 15px;
	margin-bottom: 10px;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	overflow-wrap: break-word;
}



.general-post__comments {
	margin-right: 56px;
}





/*----- Most Readable Posts -----*/

.special-news {
	position: relative;

	margin-top: 14px;
	margin-bottom: 50px;

	background-color: white;
}


/*----- Most Popular Post -----*/

.most-popular-post {
	position: relative;

	width: 59%;
	height: 400px;

	color: white;
}


.most-popular-post:before {
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
	opacity: 0.45;

	z-index: 0;
}


.most-popular-post__img {
	width: 100%;
	height: 400px;
}


.most-popular-post__content{
	width: 560px;

	position: absolute;
	bottom: 48px;
	left: 20px;

	color: inherit;
}


.most-popular-post__title {
	width: 80%;

	margin-bottom: 6px;
	margin-top: 16px; 
	}





/*----- Other Popular Posts -----*/

.popular-news {
	width: 41%;
}


.popular-news__item {
	margin-bottom: 24px !important;
}


.popular-news__text {
	margin-bottom: 14px;

	font-weight: bold;
	font-size: inherit;
}


.popular-news__props {
	margin-right: 210px;
}





/*----- Post Props -----*/

.news__props {
	font-size: 12px;
}


.news__tag {
	color: #91919f;
}


.news__tag::before {
	content: '/';
	margin-right: 4px;
}



.news__time {
	display: inline-block;
	vertical-align: middle;

	padding-left: 14px;
	padding-bottom: 2px;
	margin-right: 18px;

	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
	background-position: 0 30%;
}


.news__comments {
	display: inline-block;
	vertical-align: middle;

	padding-left: 14px;
	padding-bottom: 2px;

	background-image: url('../img/icon-comments.png');
	background-repeat: no-repeat;
	background-position: 0 30%;
}
